.Experience-container {
  .experience-data {
    margin-top: 50px;
    .experience-data-1 {
      margin: auto auto 25px auto;
      background-color: #fff;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      text-align: center;
      color: #f64c72;
    }
    .experience-data-2 {
      display: flex;
      justify-content: center;
      color: white;
      gap: 17px;
      .verticle-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .circle {
          width: 8px;
          border-radius: 100%;
          border: 2px solid #854ce6;
          height: 8px;
        }
        .verticale-bars {
          margin: 7px 0;
          background-color: #854ce6;
          width: 5px;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 786px) {
  .Experience-container {
    .experience-data {
      gap: 10px;
    }
  }
}
