.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .skills-data {
    display: flex;
    justify-content: center;
    gap: 4px;
    .skills-btn {
      cursor: pointer;
      padding: 5px 10px;
      color: black;
      background-color: #fff;
      transition: all 0.5s;
      &:hover {
        color: #f64c72;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .skills {
    .skills-data {
      .skills-btn {
        padding: 5px;
        font-size: 13px;
      }
    }
  }
}
