// ========================================== ABOUT ME =============>
.aboutMe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
  gap: 24px;
  .aboutme-data {
    .about-me-para {
      color: #f2f3f4aa;
      font-weight: 550;
    }
    .buttons {
      margin: 20px 0 0 20px;
      display: flex;
      gap: 15px;
    }
  }
}

@media only screen and (max-width: 786px) {
  .aboutMe-content {
    width: 85%;
  }
}
