// ========================= EDUCATIONS =============>
.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .education-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 40px;
    gap: 25px;
  }
}

// Acedmics Data -------------->
.Acedmics-details {
  display: flex;
  gap: 20px;
  width: 100vw;
  justify-content: center;
  .verticle-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .circle {
      width: 8px;
      box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px 0px;
      height: 8px;
      background-color: #171721;
      border: 2px solid rgb(133, 76, 230);
      border-radius: 100%;
    }
    .bars {
      height: 100%;
      box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px 0px;
      background-color: rgb(133, 76, 230);
      width: 3px;
    }
  }
  .educational-data {
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px 0px;
    border: 0.5px solid rgb(133, 76, 230);
    width: 57%;
    padding: 20px 24px;
    border-radius: 16px;
    transition: all 0.7s;
    h4 {
      text-align: center;
      margin: 6px 0;
      color: #fff;
    }
    p {
      font-size: 13px;
      color: #f64c72;
      strong {
        font-size: 15px;
        color: #fff;
      }
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
      transform: translatey(-5px);
    }
  }
}

@media only screen and (max-width: 600px) {
  .Acedmics-details {
    .educational-data {
      width: 85%;
    }
  }
}
