// ========================================== EXPIRIENCE =============>
.Experience-container {
  .experience-data {
    margin-top: 50px;
    .experience-data-1 {
      margin: auto auto 25px auto;
      background-color: #fff;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      text-align: center;
      color: #f64c72;
    }
    .experience-data-2 {
      display: flex;
      justify-content: center;
      color: white;
      gap: 17px;
      .verticle-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .circle {
          width: 8px;
          border-radius: 100%;
          border: 2px solid #854ce6;
          height: 8px;
        }
        .verticale-bars {
          margin: 7px 0;
          background-color: #854ce6;
          width: 5px;
          height: 100%;
        }
      }
    }
  }
}

// ========= Reused components ============>

.company-names {
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px 0px;
  width: 60%;
  border-radius: 10px;
  border: 0.5px solid rgb(133, 76, 230);
  background-color: #171721;
  padding: 30px 35px;
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.7s;
  gap: 9px;
  .company-heading {
    color: #f64c72;
    opacity: 60%;
    font-size: 12px;
    strong {
      font-size: 16px;
      color: #f2f3f4;
    }
    a{
      color: #9acd32;
    }
  }
  &:hover {
    transform: translatey(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 40px 0px;
  }
}

@media only screen and (max-width: 786px) {
  .Experience-container {
    .experience-data {
      gap: 10px;
    }
  }
  .company-names {
    width: 85%;
  }
}
