// ========================================== SKILLS =============>
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .skills-data {
    display: flex;
    justify-content: center;
    gap: 4px;
    .skills-btn {
      cursor: pointer;
      padding: 5px 10px;
      color: black;
      background-color: #fff;
      transition: all 0.5s;
      &:hover {
        color: #f64c72;
      }
    }
  }
}

// -- reusable components --->

.frontend-skills {
  font-family: "poppins", sans-serif;
  background-color: #171721;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px 0px;
  border: 0.5px solid rgb(133, 76, 230);
  color: #b1b2b3;
  border-radius: 16px;
  padding: 24px 28px;
  .skills-box-1 {
    border-bottom: 1px solid #f64c72;
    padding-bottom: 5px;
    color: #f64c72;
    width: fit-content;
    text-align: center;
    margin-bottom: 10px;
  }
  .skills-box-2 {
    max-width: 57vw;
    display: flex;
    flex-wrap: wrap;
    .skills-name-img {
      background-color: #17172173;
      display: flex;
      gap: 17px;
      align-items: center;
      border: 0.3px solid #f2f3f474;
      border-radius: 7px;
      width: fit-content;
      padding: 7px 10px;
      margin: 10px;
      .img-skills {
        width: 30px;
        height: 30px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      li {
        list-style: none;
        font-weight: 600;
      }
    }
  }
}

// skills --->
@media only screen and (max-width: 600px) {
  .skills {
    .skills-data {
      .skills-btn {
        padding: 5px;
        font-size: 13px;
      }
    }
  }
  .frontend-skills {
    width: 85%;
    .skills-box-2 {
      width: 100%;
      justify-content: center;
      .skills-name-img {
        padding: 7px 10px;
        li {
          font-size: 13px;
        }
      }
    }
  }
}
